* { /* Reset (por padrão) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #FF8C00;
    padding: 25px 15px; /* Inferior e Superior */
    border-top: solid 3px #778899;
    border-bottom: solid 3px #778899;
}
body {
    background-color: #000;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-weight: bold;
    color: #000;
    text-align: left; 
    text-shadow: 2px 1px #FFFAFA; /* Sombrear o h1 */
    font-size:max(10px, 3vw); /* vw - viewport (largura da janela de visualização)*/
}
h2 {
    color: #F5F5F5;
    padding: 5px;
    margin: 12px;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px #FF8C00;
}
.texto1, .texto2 {
    color: #F5F5F5;
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px #FF8C00;
}
.menu {
    text-align: right; /* Texto alinhado ao Centro */
    background-color: #FF8C00;
    padding: 15px 10px;
    position: absolute;
    top: 20px;
    right: 15px;
}
.menu li {
    display: inline-block; /* Menu em linha */
}
.menu li a {
    color: #FFFAFA;
    text-decoration: none; /* Removendo sublinhado (decoração)*/
    font-family: 'Times New Roman', Times, serif;
    background-color: #000;
    margin: 25px;
    padding: 15px;
}
.menu a:hover {
    background-color: #778899;
    color: #000;
    text-shadow: 1px 1px #FF8C00;
}
.form1 {
    background-color: #FF8C00;
    margin-top: 30px; /* margem em relação ao topo */
    width: 500px; /* largura */
    height: 290px; /* altura */
    padding: 25px;
    margin-left: auto; /* centralização do  formulário */
    margin-right: auto;
    border: double 5px #000;
}
label {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block; /* Exibição mais adequada */
    padding: 12px 12px 12px 0;
}
#comentarios {
    resize: none;
    color: #778899;
    margin: -10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
input[type=text],input[type=email] { /* algumas alterações feitas no formulario! */
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    resize: vertical; /* redimensiona vertical */
    outline: none;
}
input[type=submit] {
    margin: 12px;
    margin-left: 2px;
    width: 80px;
    height: 30px;
    color: #F5F5F5;
    background-color: #000;
    border: 2px solid #778899;
}
input[type=submit]:hover {
    margin: 12px;
    margin-left: 1px;
    color: #000;
    background-color: #FF8C00;
    border: 2px solid #F5F5F5;
}
.footer {
    background-color: #FF8C00;
    border-top: solid 3px #778899;
    padding: 15px;
    text-align: center; /* Algumas edições no rodapé */
    color: #000;
    font-size:max(16px, 1vw); /* para visualização */
    bottom: 0; /* Para o rodpé se comporta */
    left: 0; /* no final da página */
    width: 100%;
    position: fixed; /* OK */
}
@media screen and (max-width:768px) { /* Para os itens do menu ficarem responsivo */
    h1 {
        float: left;
        margin: -12px;
        padding: -25px; 
        font-size:max(20px, 1vw); /* Usada para o caso especifico da responsividade do texto */
    }
    h2 {
        display: none; /* Uma sumida no h2 */
        /* float: left; 
        font-size:max(12px, 1vw); */
    }
    .texto1 {
        display: none;
    }
    .texto2 {
        float: center;
        color: #FF8C00;
        text-shadow: none;
        margin: 2px;
        padding: 2px;
        text-align: left;  
        text-transform: uppercase;    
        font-size: max(11px, 1vw);
    }
    .menu {
        border-right: 3px solid #778899;
        border-left: 3px solid #778899;
        border-bottom: 3px solid #778899;
        font-size: max(12px,1vw);
    }
    .menu li{ 
        display: flex; /* Exibição flexível */
        float: none;
        width: 100%;
    }
    .form1 { /* dando uma sumida no formulario */
        display: none;
    }
    .footer { /* dando uma sumida no rodapé */
        display: none;
    } 
}
@media screen and (max-width:600px) {  /* Para os itens do menu ficarem responsivo */
    h1 {
        float: left; 
        font-size:max(20px, 1vw);
    }
    h2 {
        float: left; 
        text-align: center;
        font-size:max(20px, 1vw);
    }
    .texto1 {
        display: none;
    }
    .texto2, .texto3 {
        float: center;
        color: #FF8C00;
        text-shadow: none;
        margin: 2px;
        padding: 2px;
        text-align: left;  
        text-transform: uppercase;    
        font-size: max(11px, 1vw);
    }
    .menu li{  /* media query meu novo amigo. */
        display: flex; /* Exibição flexível */
        float: none;
        width: 100%;
    }
    .form1 { /* fazendo o formulário sumir */
        display: none;
    }
}