* { /* Reset (por padrão) */
    margin: 0;
    padding: 0;
}
h1 {
    color: #FF8C00;
    text-align: center; /*alinhando o texto */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}